@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    height: 70px;
    
}
.header{
    background: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-list{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 50px;
}
a{
    color: salmon;
}
.li-link{
    list-style: none;
}
a:hover{
    color: white;
}