@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #336bff;    
    font-family: 'Poppins', sans-serif;
}
.logo{
    height: 70px;
    
}
.header{
    background:  #336bff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-list{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 50px;
}
a{
    color:  #e0ff33;
}
.li-link{
    list-style: none;
}
a:hover{
    color: white;
}


.img-boke{
    width: 700px;
    cursor: pointer;
}
.container-main{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
}
.section-2{
    margin: 50px;
}

.section-1 h2{
    color: #e0ff33;
}

.section-1 p{
    color: #e0ff33;
}